rules:
#常用
  - DOMAIN-SUFFIX,unraid.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,ghcr.io,🇨🇳 Auto
  - DOMAIN-SUFFIX,azureedge.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,pythonhosted.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,pypi.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,docker.io,🇨🇳 Auto
  - DOMAIN-SUFFIX,docker.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,hub.docker.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,registry-1.docker.io,🇨🇳 Auto
  - DOMAIN-SUFFIX,telegram.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,t.me,🇨🇳 Auto
  - DOMAIN-SUFFIX,telegram.me,🇨🇳 Auto
  - DOMAIN-SUFFIX,cdn.telegram.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,web.telegram.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,desktop.telegram.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,macos.telegram.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,telegram.dog,🇨🇳 Auto
  - DOMAIN-SUFFIX,google.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,gstatic.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,googleapis.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,googleusercontent.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,google-analytics.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,googleadservices.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,googlesyndication.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,googletagmanager.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,googleadmanager.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,youtube.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,ytimg.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,gmail.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,blogger.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,googlevideo.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,googlecode.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,doubleclick.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,github.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,githubusercontent.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,githubassets.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,raw.githubusercontent.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,api.github.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,codeload.github.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,avatars.githubusercontent.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,gist.github.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,metadata.plex.tv,🇨🇳 Auto
#刮削
  - DOMAIN-SUFFIX,tmdb.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,api.tmdb.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,tvdb.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,tmdb.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,fanart.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,themoviedb.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,thetvdb.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,gracenote.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,omdbapi.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,rovi.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,tvmaze.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,last.fm,🇨🇳 Auto
  - DOMAIN-SUFFIX,imdb.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,opensubtitles.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,musicbrainz.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,metadata.provider.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,metadata-static.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,assets.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,scrobbles.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,analytics.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,clients.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,images.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,app.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,discover.provider.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,mp.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,ump.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,mpm.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,meta.plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,plex.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,plex.direct,🇨🇳 Auto
  - DOMAIN-SUFFIX,plexapp.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,plex.media,🇨🇳 Auto
  - DOMAIN-SUFFIX,gracenote.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,rovi.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,sonymusic.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,sonypictures.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,tvdb.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,tvdb2.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,themdb.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,fanart.tv,🇨🇳 Auto
  - DOMAIN-SUFFIX,themoviedb.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,omdbapi.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,justwatch.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,meta.plex.tv,🇨🇳 Auto    
#PT站点
  - DOMAIN-SUFFIX,piggo.me,🇨🇳 Auto
  - DOMAIN-SUFFIX,club.hares.top,🇨🇳 Auto
  - DOMAIN-SUFFIX,hitpt.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,tjupt.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,biho.xyz,🇨🇳 Auto
  - DOMAIN-SUFFIX,ptneko.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,cyanbug.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,htpt.cc,🇨🇳 Auto
  - DOMAIN-SUFFIX,bitpt.cn,🇨🇳 Auto
  - DOMAIN-SUFFIX,gamerapt.link,🇨🇳 Auto
  - DOMAIN-SUFFIX,kufei.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,bt.neu6.edu.cn,🇨🇳 Auto
  - DOMAIN-SUFFIX,nanyangpt.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.sjtu.edu.cn,🇨🇳 Auto
  - DOMAIN-SUFFIX,qingwa.pro,🇨🇳 Auto
  - DOMAIN-SUFFIX,wukongwendao.top,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.837576.xyz,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.6a6b.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,1ptba.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.2xfree.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,3wmg.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,52pt.site,🇨🇳 Auto
  - DOMAIN-SUFFIX,agsvpt.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,audiences.me,🇨🇳 Auto
  - DOMAIN-SUFFIX,azusa.wiki,🇨🇳 Auto
  - DOMAIN-SUFFIX,beitai.pt,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.btschool.club,🇨🇳 Auto
  - DOMAIN-SUFFIX,byr.pt,🇨🇳 Auto
  - DOMAIN-SUFFIX,carpt.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,ccfbits.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,ptchdbits.co,🇨🇳 Auto
  - DOMAIN-SUFFIX,dajiao.cyou,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.dhtclub.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,dicmusic.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,discfan.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,dogpt.cc,🇨🇳 Auto
  - DOMAIN-SUFFIX,dragonhd.xyz,🇨🇳 Auto
  - DOMAIN-SUFFIX,public.ecustpt.eu.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.0ff.cc,🇨🇳 Auto
  - DOMAIN-SUFFIX,fsm.name,🇨🇳 Auto
  - DOMAIN-SUFFIX,gamegamept.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,greatposterwall.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,haidan.video,🇨🇳 Auto
  - DOMAIN-SUFFIX,hddolby.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.hd4fans.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,hd.ai,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdarea.club,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdatmos.club,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdchina.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdcity.city,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdfans.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdhome.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdkyl.in,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdmayi.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.hdpost.top,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdpt.xyz,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdroute.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdsky.me,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdtime.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.hdupt.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdvbits.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdvideo.one,🇨🇳 Auto
  - DOMAIN-SUFFIX,hdfun.me,🇨🇳 Auto
  - DOMAIN-SUFFIX,hhanclub.top,🇨🇳 Auto
  - DOMAIN-SUFFIX,hudbt.hust.edu.cn,🇨🇳 Auto
  - DOMAIN-SUFFIX,icc2022.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,ihdbits.me,🇨🇳 Auto
  - DOMAIN-SUFFIX,share.ilolicon.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.inswan.fun,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.itzmx.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,joyhd.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,kamept.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,star-space.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,pandapt.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,okpt.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,sharkpt.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,ptlsp.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,ptcafe.club,🇨🇳 Auto
  - DOMAIN-SUFFIX,ptvicomo.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,our.kelu.one,🇨🇳 Auto
  - DOMAIN-SUFFIX,kimoji.club,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.tu88.men,🇨🇳 Auto
  - DOMAIN-SUFFIX,uploads.ltd,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.gtk.pw,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.wedelphi.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,pt.zhixing.bjtu.edu.cn,🇨🇳 Auto
  - DOMAIN-SUFFIX,bt.ourdisc.net,🇨🇳 Auto
  - DOMAIN-SUFFIX,qingwapt.com,🇨🇳 Auto
  - DOMAIN-SUFFIX,crabpt.vip,🇨🇳 Auto
  - DOMAIN-SUFFIX,dogpt.cc,🇨🇳 Auto
  - DOMAIN-SUFFIX,plexfm.top,🇨🇳 Auto
  - DOMAIN-SUFFIX,api.m-team.io,🇨🇳 Auto
  - DOMAIN-SUFFIX,api.m-team.cc,🇨🇳 Auto
  - DOMAIN-SUFFIX,m-team.cc,🇨🇳 Auto
  - DOMAIN-SUFFIX,m-team.io,🇨🇳 Auto
  - DOMAIN-SUFFIX,dmhy.org,🇨🇳 Auto
  - DOMAIN-SUFFIX,monikadesign.uk,🇨🇳 Auto
#OPENAI
  - DOMAIN-SUFFIX,openai.com,🇺🇸 Auto
  - DOMAIN-SUFFIX,api.openai.com,🇺🇸 Auto
  - DOMAIN-SUFFIX,platform.openai.com,🇺🇸 Auto
  - DOMAIN-SUFFIX,help.openai.com,🇺🇸 Auto
  - DOMAIN-SUFFIX,status.openai.com,🇺🇸 Auto
  - DOMAIN-SUFFIX,chat.openai.com,🇺🇸 Auto
  - DOMAIN-SUFFIX,labs.openai.com,🇺🇸 Auto
  - DOMAIN-SUFFIX,cdn.openai.com,🇺🇸 Auto
  - DOMAIN-SUFFIX,auth0.openai.com,🇺🇸 Auto
#其他
  - GEOIP,CN,DIRECT
  - MATCH,🏳️‍🌈 final
